

.box {
  height: 1000px;
  background-color: aqua;
}

.box1 {
  background-color: blue;
  height: 300px;
  width: 500px;
  position: relative;
  top: 300px;

}


.box2 {
  position: absolute;
  width: 150px;
  height: 150px;
  background: red;
  border-radius: 50%;
  bottom: 30px;
  left: 290px;
}
